@page "/import-jpk"

@using Newtonsoft.Json
@using TaxAssistant.JPK.Shared.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using System.Text.Json.Serialization

@inject HttpClient Http

<PageTitle>JPK import</PageTitle>

<h1>JPK import</h1>

<InputFile OnChange="@LoadFiles" />

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (importResult != null)
{
    <div><b>Is import successful:</b> @importResult.IsSuccessful</div>

    if(!importResult.IsSuccessful)
    {
        if (importResult.Error == null)
        {
            <div>Unknown error</div>
        }
        else
        {
            <div>@importResult.Error.Type: @importResult.Error.Message</div>
        }
    }
    else if(@importResult.Data.Kpir != null)
    {
        <div>Imported KPIR with @importResult.Data.Kpir.Rows.Count rows <a href="kpir-list/@importResult.Data.KpirId">>> preview</a></div>
    }
    else if(importResult.Data.Ewp != null)
    {
        <div>Imported EWP with @importResult.Data.Ewp.Rows.Count rows and @(importResult.Data.Ewp.FixedAssets?.Count ?? 0) fixed assets<a href="ewp-list/@importResult.Data.EwpId">>> preview</a></div>
    }
    else
    {
        <div>Not handled import details</div>
    }
}

@code {
    private ImportResult? importResult;
    private bool isLoading;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;

        try
        {
            var reader = new StreamReader(e.File.OpenReadStream());
            var fileContent = await reader.ReadToEndAsync();

            var response = await Http.PostAsJsonAsync<string>("Import", fileContent);
            var stringResponse = await response.Content.ReadAsStringAsync();

            importResult = JsonConvert.DeserializeObject<ImportResult>(stringResponse);
        }
        finally
        {
            isLoading = false;
        }
    }
}
