@page "/kpir-list"

@using Newtonsoft.Json
@using TaxAssistant.JPK.Shared.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using System.Text.Json.Serialization
@using TaxAssistant.JPK.Shared.Model.Database.Kpir
@using TaxAssistant.JPK.Shared.Model.View
@using Microsoft.AspNetCore.WebUtilities
@using TaxAssistant.JPK.Client.Clients.Abstraction

@inject IApiClient<Kpir> Client
@inject NavigationManager NavigationManager

<PageTitle>KPIR</PageTitle>

<h1>KPIR</h1>

@if (isLoading)
{
    <Loading />
}
else
{
    <span>Selected @model.Count(x => x.IsSelected) items</span>

    <div>
        <button class="button" disabled=@(@model.Count(x => x.IsSelected) != 1) @onclick="@OnPreview">Preview</button>
        <button class="button" disabled=@(!@model.Any(x => x.IsSelected)) @onclick="@OnAggregate">Aggregate</button>
        <button class="button" disabled=@(!@model.Any(x => x.IsSelected)) @onclick="@OnDelete">Delete</button>
    </div>

    <Table DataSource=@model>
        <Column TRow="Selectable<Kpir>" SelectAllCallback=@OnSelectAll><input type="checkbox" @bind=@context.IsSelected /></Column>
        <Column TRow="Selectable<Kpir>" Title="ID">@context.Value.Id</Column>
        <Column TRow="Selectable<Kpir>" Title="Import date">@context.Value.CreationDate</Column>
        <Column TRow="Selectable<Kpir>" Title="KPIR generation date">@context.Value.Header.CreationDate</Column>
        <Column TRow="Selectable<Kpir>" Title="Month (?)">@string.Format("{0:yyyy-MM}", @context.Value.Header.DateFrom)</Column>
        <Column TRow="Selectable<Kpir>" Title="From date">@string.Format("{0:yyyy-MM-dd}", @context.Value.Header.DateFrom)</Column>
        <Column TRow="Selectable<Kpir>" Title="To date">@string.Format("{0:yyyy-MM-dd}", @context.Value.Header.DateTo)</Column>
        <Column TRow="Selectable<Kpir>" Title="Rows">@context.Value.Rows.Count</Column>
        <Column TRow="Selectable<Kpir>" Title="Total Revenue">@context.Value.Rows.Sum(x => x.RevenueTotal)</Column>
        <Column TRow="Selectable<Kpir>" Title="Total Cost">@context.Value.Rows.Sum(x => x.CostTotal)</Column>
        <Column TRow="Selectable<Kpir>" Title="Total Income">@(@context.Value.Rows.Sum(x => x.RevenueTotal) - @context.Value.Rows.Sum(x => x.CostTotal))</Column>
    </Table>
}

@code {
    private IList<Selectable<Kpir>> model;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        try
        {
            model = await Client.GetSelectableAsync();
        }
        finally
        {
            isLoading = false;
        }
    }

    protected void OnAggregate(MouseEventArgs mouseEventArgs)
    {
        var selectedIds = model
            .Where(x => x.IsSelected)
            .Select(x => x.Value.Id)
            .ToList();

        var url = "kpir-aggregate";

        foreach (var id in selectedIds)
        {
            url = QueryHelpers.AddQueryString(url, "id", id.ToString());
        }

        NavigationManager.NavigateTo(url);
    }

    protected void OnPreview(MouseEventArgs mouseEventArgs)
    {
        var selectedId = model
            .Where(x => x.IsSelected)
            .Select(x => x.Value.Id)
            .Single();

        NavigationManager.NavigateTo($"kpir-list/{selectedId}");
    }

    protected async Task OnDelete(MouseEventArgs mouseEventArgs)
    {
        var selectedIds = model
            .Where(x=>x.IsSelected)
            .Select(x => x.Value.Id)
            .ToList();

        foreach (var id in selectedIds)
        {
            await Client.DeleteAsync(id);
        }
    }

    protected void OnSelectAll(MouseEventArgs mouseEventArgs)
    {
        var isAllSelected = model.All(x => x.IsSelected);

        foreach (var item in model)
        {
            item.IsSelected = !isAllSelected;
        }
    }
}
